// Microsoft Visual C++ generated resource script.
//
#include "resource.h"
/////////////////////////////////////////////////////////////////////////////
// ニュートラル resources

#if !defined(AFX_RESOURCE_DLL) || defined(AFX_TARG_NEU)
LANGUAGE LANG_NEUTRAL, SUBLANG_NEUTRAL
#pragma code_page(932)

/////////////////////////////////////////////////////////////////////////////
//
// Version
//

1 VERSIONINFO
 FILEVERSION 1,3,1,0
 PRODUCTVERSION 1,3,1,0
 FILEFLAGSMASK 0x0L
#ifdef _DEBUG
 FILEFLAGS 0x1L
#else
 FILEFLAGS 0x0L
#endif
 FILEOS 0x0L
 FILETYPE 0x1L
 FILESUBTYPE 0x0L
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "0800fde9"
        BEGIN
            VALUE "Comments", "TTBase plugin"
            VALUE "CompanyName", "CubeMelon Software"
            VALUE "FileDescription", "TTBase plugin"
            VALUE "FileVersion", "1.3.1.0"
            VALUE "InternalName", "ExtSysPopup"
            VALUE "LegalCopyright", "(C) 2014-2016 tapetums"
            VALUE "OriginalFilename", "ExtSysPopup"
            VALUE "ProductName", "ExtSysPopup"
            VALUE "ProductVersion", "1.3.1.0"
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x800, 65001
    END
END

#endif    // ニュートラル resources
/////////////////////////////////////////////////////////////////////////////


/////////////////////////////////////////////////////////////////////////////
// 日本語 (日本) resources

#if !defined(AFX_RESOURCE_DLL) || defined(AFX_TARG_JPN)
LANGUAGE LANG_JAPANESE, SUBLANG_DEFAULT
#pragma code_page(932)

#ifdef APSTUDIO_INVOKED
/////////////////////////////////////////////////////////////////////////////
//
// TEXTINCLUDE
//

1 TEXTINCLUDE 
BEGIN
    "resource.h\0"
END

2 TEXTINCLUDE 
BEGIN
    "\0"
END

3 TEXTINCLUDE 
BEGIN
    "\r\n"
    "\0"
END

#endif    // APSTUDIO_INVOKED

#endif    // 日本語 (日本) resources
/////////////////////////////////////////////////////////////////////////////


/////////////////////////////////////////////////////////////////////////////
// ニュートラル (システム標準) resources

#if !defined(AFX_RESOURCE_DLL) || defined(AFX_TARG_NEUSD)
LANGUAGE LANG_NEUTRAL, SUBLANG_SYS_DEFAULT
#pragma code_page(932)

/////////////////////////////////////////////////////////////////////////////
//
// Menu
//

100 MENU
BEGIN
    POPUP "MENU"
    BEGIN
        MENUITEM "常に手前(&A)",                    40000
        MENUITEM "フォルダを開く(&F)",                 40001
        POPUP "透明度の設定(&O)"
        BEGIN
            MENUITEM "100%",                        41100
            MENUITEM "90%",                         41090
            MENUITEM "80%",                         41080
            MENUITEM "70%",                         41070
            MENUITEM "60%",                         41060
            MENUITEM "50%",                         41050
            MENUITEM "40%",                         41040
            MENUITEM "30%",                         41030
            MENUITEM "20%",                         41020
            MENUITEM "10%",                         41010
        END
        POPUP "優先度の設定(&P)"
        BEGIN
            MENUITEM "リアルタイム(&R)",                  42001
            MENUITEM "高(&H)",                       42002
            MENUITEM "通常以上(&A)",                    42003
            MENUITEM "通常(&N)",                      42004
            MENUITEM "通常以下(&B)",                    42005
            MENUITEM "低(&L)",                       42006
        END
        MENUITEM SEPARATOR
        MENUITEM "本体を終了する(&Q)",                 40002
        MENUITEM "本体の設定(&S)",                   40003
        MENUITEM "本体のバージョン情報(&V)",              40004
        MENUITEM "プラグインの再読み込み(&R)",             40005
        MENUITEM "設定ファイルの再読み込み(&I)",            40006
        MENUITEM SEPARATOR
        MENUITEM "キャンセル(&C)",                   ID_MENU_40020
    END
END

#endif    // ニュートラル (システム標準) resources
/////////////////////////////////////////////////////////////////////////////



#ifndef APSTUDIO_INVOKED
/////////////////////////////////////////////////////////////////////////////
//
// Generated from the TEXTINCLUDE 3 resource.
//


/////////////////////////////////////////////////////////////////////////////
#endif    // not APSTUDIO_INVOKED

